name: Release

on:
  workflow_dispatch:
  push:
    tags:
      - 'v*'

jobs:
  build-and-release:
    runs-on: ubuntu-latest

    permissions:
      contents: write
      id-token: write

    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Check version match
        run: |
          TAG_VERSION=${GITHUB_REF_NAME#v}
          PACKAGE_VERSION=$(jq -r '.version' package.json)

          echo "Tag version: $TAG_VERSION"
          echo "Package version: $PACKAGE_VERSION"

          if [ "$TAG_VERSION" != "$PACKAGE_VERSION" ]; then
            echo "Error: Tag version ($TAG_VERSION) does not match package.json version ($PACKAGE_VERSION)!"
            # exit 1
          fi

      # - name: Set up Node
      #   uses: actions/setup-node@v6
      #   with:
      #     node-version: latest
      #     registry-url: https://registry.npmjs.org

      - name: Setup Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - name: Install dependencies
        run: bun install --frozen-lockfile

      - name: Lint
        run: bun run typecheck && bun run lint

      - name: Test
        run: bun test

      - name: Build
        run: bun run build

      - name: Publish to npm
        run: npm publish --provenance --dry-run

      # - name: Create Draft Release
      #   env:
      #     GH_TOKEN: ${{ github.token }}
      #   run: gh release create ${{ github.ref_name }} --draft --generate-notes --verify-tag
